h1 {
    font-size: 5.0em;
    font-family: Indie Flower;
    text-align: right;
    text-decoration: line-through;
}
p {
    font-size: 2.0em;
    font-family: Raleway;
    text-align: center;
    text-decoration: underline;
    line-height: 1.5;
}
body {
    font-size: 10px;
}
span {
    font-size: 2.0em;
}